In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

df1 = pd.read_csv('/content/train.csv')
df2 = pd.read_csv('/content/test.csv')

In [ ]:
label_encoder_sex = LabelEncoder()
df1['Sex'] = label_encoder_sex.fit_transform(df1['Sex'])
label_encoder_embarked = LabelEncoder()
df1['Embarked'] = label_encoder_embarked.fit_transform(df1['Embarked'])

In [ ]:
label_encoder_sex = LabelEncoder()
df2['Sex'] = label_encoder_sex.fit_transform(df2['Sex'])
label_encoder_embarked = LabelEncoder()
df2['Embarked'] = label_encoder_embarked.fit_transform(df2['Embarked'])

In [ ]:
mean_age = df2['Age'].mean()
df2['Age'] = df2['Age'].fillna(mean_age)
df2['Age'] = df2['Age'].astype(int)

In [ ]:
mean_age = df1['Age'].mean()
df1['Age'] = df1['Age'].fillna(mean_age)
df1['Age'] = df1['Age'].astype(int)

In [ ]:
df1 = df1.dropna()
df2 = df2.dropna()

In [ ]:
df1.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
df2.isna().sum()

PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
columns_to_drop = ['PassengerId', 'Name', 'Ticket', 'Cabin']
df1 = df1.drop(columns=columns_to_drop)

In [ ]:
columns_to_drop = ['Cabin']
df2 = df2.drop(columns=columns_to_drop)

In [ ]:
X = df1.iloc[:,1:5]
y = df1.iloc[:,0:1]

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=418)

In [ ]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression(random_state=0, max_iter=1000).fit(X_train,y_train)
y_pred = lg.predict(X_test)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn import metrics
auc = metrics.accuracy_score(y_test,y_pred)
print(auc)

0.8048780487804879

In [ ]:
X_new = df2[['Pclass', 'Sex', 'Age', 'SibSp']]
predictions = lg.predict(X_new)
df2['Survived'] = predictions
submission = df2[['PassengerId', 'Survived']]

     PassengerId  Survived
12           904         1
14           906         1
24           916         1
26           918         1
28           920         0
..           ...       ...
404         1296         0
405         1297         0
407         1299         0
411         1303         1
414         1306         1

[91 rows x 2 columns]

In [ ]:
submission.to_csv('submission.csv', index=False)